/*
 * Copyright (c) 2023 Laczen
 * SPDX-License-Identifier: Apache-2.0
 */

&flash_sim0 {
        compatible = "soc-nv-flash", "zephyr,mtd-flash";
        status = "okay";
};

&eeprom0 {
        compatible = "zephyr,sim-eeprom", "zephyr,mtd-eeprom";
        status = "okay";
};
